# Name: LungCT Tools
# Author: Thomas.Re at usb.ch
# Description: Tools for Segmenting and Quantifying Lung tissue from Thorax CT's

Plugins>Lung_COPD, "Help Usage", ch.usb.COPD_HelpUsage
Plugins>Lung_COPD, "Segment Lung Tissue", ch.usb.COPD_LungSegment
Plugins>Lung_COPD, "PD15/LAA-950... Quantify Segmented Lung" , ch.usb.COPD_PDxLAAx
